.btn-primary,
/* .btn-primary:hover,
.btn-primary:active,
.btn-primary:visited, */
.btn-primary:focus {
    background-color: #123;
    border-color: #123;
}

.profile{
	background: white;
	color: gray;
	padding: 0;
	display: flex;
}

.profile figure{
	margin: auto;
	text-align: center;
}

.profile figure img{
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: gray 0 0 10px; 
	width: 200px
}

.navbar-brand
{
  font-size: 25px;
}

.nav-item
{
  font-size: 18px;
}

.progress-bar {
    background-color: #123;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.about img{
	margin: auto;
	text-align: center;
	border: 1px solid white;
	box-shadow: gray 0 0 10px; 
	width: 750px
}

.row {
	padding: 0 5px 0 5px
}

body { 
	font-family:Roboto Slab !important;
	font-weight: normal; 
}

h1, h2, h3, h4, h5, nav { 
	font-family: Roboto Slab !important;
}

h3 {
	padding: 0 5px 0 5px;
}